body{
    background-image: url(https://i.pinimg.com/736x/09/3c/93/093c937d0f579ba3a8699809ad8c4dd4.jpg);
    background-repeat: repeat-y;
}

h1{
    border: 1px color solid black;
    color: red;
    letter-spacing: 10px;
    word-spacing: 10px;
}

.paragraf1{
    text-align: center;
    font-size: 24px;
    color: blue;
    text-decoration: line-through;
    line-height: 20px;

}

.paragraf2{
    text-indent: 50px;
}

.main > #heading2{
    color: yellowgreen;
    font-size: 12px;
}

a:hover{
    background-color: yellow;
    color: black;
}